
@{
    ViewData["Title"] = "Configuración";
}

<link rel="stylesheet" href="~/css/socialCard.css" />

<h2>Configuración</h2>

<div class="box">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">

                    <a asp-area="" asp-controller="Categoria" asp-action="Index">

                        <i class="fas fa-bug fa-3x" aria-hidden="true" style="color: aqua "></i>

                        <div class="title">
                            <h4>Categorias</h4>
                        </div>

                    </a>

                    <div class="text">
                        <span>Proporcionan un método opcional de organizar los artículos.</span>
                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <a asp-area="" asp-controller="Articulo" asp-action="Index">

                        <i class="fab fa-amilia fa-3x" aria-hidden="true" style="color: aqua "></i>

                        <div class="title">
                            <h4>Articulos</h4>
                        </div>

                        <div class="text">
                            <span>Elementos pertenecientes al invetario de la compañia.</span>
                        </div>
                    </a>

                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <a asp-area="" asp-controller="Persona" asp-action="Index">

                        <i class="fas fa-user-tie fa-3x" aria-hidden="true" style="color: aqua"></i>

                        <div class="title">
                            <h4>Proveedores</h4>
                        </div>

                        <div class="text">
                            <span>Empresas que abastecen con bienes o servicios necesarios para el correcto funcionamiento del negocio.</span>
                        </div>

                    </a>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fas fa-user-friends fa-3x" aria-hidden="true" style="color: aqua"></i>

                    <div class="title">
                        <h4>Clientes</h4>
                    </div>

                    <div class="text">
                        <span>Un Cliente es aquella persona que a cambio de un pago recibe servicios de alguien que se los presta por ese concepto..</span>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

