
@{
    ViewData["Title"] = "Index";
}

<h2>Mis Ingresos</h2>

<div class="table-responsive">

    <table class="table" id="tableMisIngresos">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Proveedor</td>
                <td>Comprobante</td>
                <td>Impuesto</td>
                <td>Estado</td>
                <td>Total</td>
                <td>Opciones</td>
            </tr>
        </thead>
        <tbody id="tbodyMisIngresos">
        </tbody>
    </table>

</div>

